<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yygq.vxclass.mapper.FileMapper">

    <insert id="saveHomework">
        INSERT into sys_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adress != null  and adress != ''">adress,</if>
            <if test="studentId != null  and studentId != ''">student_id,</if>
            <if test="homeworkId != null  and homeworkId != ''">homework_id,</if>
            <if test="teacherId != null  and teacherId != ''">teacher_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adress != null  and adress != ''">#{adress},</if>
            <if test="studentId != null  and studentId != ''">#{studentId},</if>
            <if test="homeworkId != null  and homeworkId != ''">#{homeworkId},</if>
            <if test="teacherId != null  and teacherId != ''">#{teacherId},</if>
        </trim>
    </insert>

    <select id="history" resultType="com.yygq.vxclass.bean.Vo.FileVo">
        SELECT
        c.id,
        c.score,
        c.state,
        h.title,
        t.name teacherName
        FROM
        sys_file c
        LEFT JOIN sys_teacher t ON c.teacher_id = t.id
        LEFT JOIN sys_homework h ON h.id = c.homework_id
        <where>
            c.student_id = #{id}
        </where>
    </select>
</mapper>