<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springboot.mapper.ClassMapper">

    <select id="findById" resultType="com.atguigu.springboot.bean.Class">
        SELECT
        id,
        name
        FROM
        sys_class
        <where>
            teacher_id = #{id}
        </where>
    </select>

    <insert id="addById">
        INSERT into sys_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="teacherId != null  and teacherId != ''">teacher_id,</if>
            <if test="name != null  and name != ''">name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="teacherId != null  and teacherId != ''">#{teacherId},</if>
            <if test="name != null  and name != ''">#{name},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
    </insert>

    <update id="updateById" parameterType="com.atguigu.springboot.bean.Class">
        update sys_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherId != null  and teacherId != ''">teacher_id = #{teacherId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from sys_class where id = #{id}
    </delete>


    <select id="findByName" resultType="com.atguigu.springboot.bean.Vo.ClassSearchVo">
        SELECT
        c.id, c.name className, t.name teacherName
        FROM
        sys_class c
        LEFT JOIN sys_teacher t ON c.teacher_id = t.id
        <where>
            c.name = #{search}
        </where>
    </select>
</mapper>