<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springboot.mapper.FileMapper">

    <select id="findById" resultType="com.atguigu.springboot.bean.Vo.FileVo">
        SELECT
        f.id,
        f.adress,
        f.score,
        f.state,
        s.name,
        h.title
        FROM
        sys_file f left join sys_student s on f.student_id = s.id
        left join sys_homework h on f.homework_id = h.id
        <where>
            f.teacher_id = #{id}
        </where>
    </select>

    <update id="updateById" parameterType="com.atguigu.springboot.bean.File">
        update sys_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="score != null  and score != ''">score = #{score},</if>
            <if test="state == null  or state == ''">state = 1,</if>
        </trim>
        where id = #{id}
    </update>
</mapper>